<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADMIN | Login</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/fontawesome-free/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/adminlte.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/toastr/toastr.min.css}"/>
</head>
<body class="hold-transition login-page">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="login-box w-100">
                <div class="login-logo">
                    <p><b>Admin</b> Ogani</p>
                </div>
                <!-- /.login-logo -->
                <div class="card">
                    <div class="card-body login-card-body">
                        <form id="form-login-admin" class="p-3">
                            <div class="input-group mb-3 form-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" id="email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3 form-group">
                                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/admin-assets/admin-lte/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin-assets/admin-lte/plugins/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/admin-assets/admin-lte/plugins/jquery-validation/additional-methods.min.js}"></script>
<script th:src="@{/admin-assets/admin-lte/plugins/axios/axios.min.js}"></script>
<script th:src="@{/admin-assets/admin-lte/plugins/toastr/toastr.min.js}"></script>
<script th:src="@{/admin-assets/assets/js/utils-page/login.js}"></script>
</body>
</html>
