<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${product.name}">Tên Sản Phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{components/header-web :: header}"></th:block>
<div class="container">
    <div class="row mt-5 mb-4">
        <div class="col-lg-6">
            <div class="product-image">
                <img th:src="${product.imageUrl}" th:alt="${product.name}" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="mb-3" th:text="${product.name}">Tên Sản Phẩm</h3>
            <div class="mb-3" th:text="${product.description}"></div>
            <h4 class="mb-3 text-danger" th:text="${#numbers.formatInteger(product.price,3,'COMMA') + 'đ'}"></h4>
            <button class="btn btn-primary" th:onclick="|addToCart(${product.id})|">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>

<script>
    function addToCart(productId) {
        const url = '/api/cart/add';
        const data = {productId: productId, quantity: 1};

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    alert('Đã thêm vào giỏ hàng');
                } else if (response.status === 401) {
                    window.location.href = '/login';
                } else {
                    alert('Có lỗi xảy ra, vui lòng thử lại sau');
                }
            })
            .catch((error) => alert(error.message));
    }
</script>
</body>
</html>
