<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Sử dụng Fragment-->
<div th:replace="~{fragments/menu :: menu}"></div>

<h1>Fragment page</h1>

<!--Sử dụng Fragment có tham số-->
<th:block th:replace="~{fragments/content :: avatar(~{fragments/content :: #image1})}"></th:block>
<th:block th:replace="~{fragments/content :: avatar(~{:: #para1})}"></th:block>

<p id="para1">Nội dung 1</p>

<p id="para2">Nội dung 2</p>

<p id="para3">Nội dung 3</p>
</body>
</html>