<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/users">
    <input type="text" placeholder="Nhập tên user" name="name" required autocomplete="off">
    <button type="submit">Tìm kiếm</button>
    <a th:href="@{/users}">Danh sách user</a>
</form>

<h2>Danh sách user</h2>

<p th:if="${#lists.isEmpty(users)}">Không có user</p>
<ul th:if="${not #lists.isEmpty(users)}">
  <li th:each="user : ${users}"
      th:text="|${user.id} - ${user.name} - ${user.email} -${user.age}|"></li>
</ul>
</body>
</html>