<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title th:text="${blog.title}">AdminLTE 3 | Dashboard</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/style.css}">
        <link rel="stylesheet" th:href="@{/admin-assets/assets/css/image-management.css}">
    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/blogs/own-blogs">Blog</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${blog.title}">
                            Thực hành làm ứng dụng Meal Finder API
                            với Javascript (Phần 2)
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/blogs/own-blogs" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
<!--                    <button type="button" class="btn btn-primary px-4">-->
<!--                        Preview-->
<!--                    </button>-->
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger px-4" id="btn-delete">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <form id="form-update-blog">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control" id="title" name="title"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Nội dung</label>
                                            <textarea id="content" class="form-control" rows="3" name="content"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="3" name="description"></textarea>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select id="status" class="form-control">
                                            <option value="false">
                                                Nháp
                                            </option>
                                            <option value="true">
                                                Công khai
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Danh mục</label>
                                        <div class="select2-purple">
                                            <select class="select2 form-control" multiple="multiple"
                                                    id="tag">
                                                <option th:each="tag : ${tags}" th:value="${tag.id}"
                                                        th:text="${tag.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="image-preview-container mb-3">
                                            <img src="https://placehold.co/1000x600" alt="" id="image"/>
                                        </div>
                                        <button type="button" class="btn btn-info btn-flat rounded" data-toggle="modal"
                                                data-target="#modal-image" id="btn-modal-image">
                                            Chọn hình ảnh
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-image" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Danh sách hình ảnh</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button class="btn btn-success" id="btn-chose-image" disabled>Chọn ảnh</button>

                            <label for="input-image" class="btn btn-warning mb-0">Upload ảnh</label>
                            <input type="file" id="input-image" class="d-none">
                        </div>
                        <div>
                            <button class="btn btn-danger" id="btn-delete-image" disabled>Xóa ảnh</button>
                        </div>
                    </div>
                    <!-- Hiển thị danh sách ảnh -->
                    <div class="image-container mt-4 mb-4">

                    </div>

                    <!-- Hiển thị phần phân trang -->
                    <div class="image-pagination-container d-flex justify-content-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:src="@{/admin-assets/assets/js/image-managent.js}"></script>
    <script th:inline="javascript">
        const blog = [[${blog}]];
        const tags = [[${tags}]];
        console.log({blog, tags});
    </script>
    <script th:src="@{/admin-assets/assets/js/blog/detail.js}"></script>
</th:block>

</body>

</html>