<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Fragment có truyền tham số-->
<div th:fragment="avatar(content)">
    <th:block th:replace="${content}"></th:block>
</div>

<img src="https://images.unsplash.com/photo-1657537471639-3101a6e508d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
     alt="" id="image1">

<img src="https://images.unsplash.com/photo-1657534531210-e4b1388efe95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
     alt="" id="image2">

<img src="https://images.unsplash.com/photo-1657483667294-09ee0677687b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0N3x8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
     alt="" id="image3">
</body>
</html>