<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, css, content, js)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:replace="${title}">Danh sách khóa học</title>

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/lib/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/lib/toastr/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/lib/pagination/pagination.min.css}">
    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Link tự viết -->
    <link rel="stylesheet" href="/css/style-admin.css">

    <!--    CSS tự viết-->
    <th:block th:replace="${css} ?: ~{}"></th:block>
</head>

<body>
<!--HEADER-->
<th:block th:replace="~{admin/fragments/fragment :: header}"></th:block>

<!-- BODY -->
<th:block th:replace="${content} ?: ~{}"></th:block>

<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/axios/axios.min.js}"></script>
<script th:src="@{/lib/select2/js/select2.min.js}"></script>
<script th:src="@{/lib/toastr/toastr.min.js}"></script>
<script th:src="@{/lib/pagination/pagination.min.js}"></script>
<script th:src="@{/lib/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/lib/jquery-validation/additional-methods.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>

<!--    JS tự viết-->
<th:block th:replace="${js} ?: ~{}"></th:block>
</body>

</html>