<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tạo user</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/style.css}">
    </th:block>

</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/users">User</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Tạo user
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/users" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-create">
                        Lưu
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="text-muted font-italic">Mật khẩu mặc định : <span class="font-weight-bold">123</span></p>
                                    </div>
                                    <form id="form-create-user">
                                        <div class="form-group">
                                            <label>Họ tên</label>
                                            <input type="text" class="form-control" id="username" name="username"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" id="email" name="email"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Số điện thoại</label>
                                            <input type="text" class="form-control" id="phone" name="phone"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Quyền</label>
                                            <div class="select2-purple">
                                                <select class="select2 form-control" multiple="multiple" id="roles" name="roles">
                                                    <option th:each="role : ${roles}" th:value="${role.roleId}"
                                                            th:text="${role.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:inline="javascript">
        const roles = [[${roles}]];
        console.log(roles);
    </script>
    <script th:src="@{/admin-assets/assets/js/user/create.js}"></script>
</th:block>

</body>

</html>