<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tạo user</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/style.css}">
    </th:block>

</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/users">User</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Tạo user
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/users" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-create">
                        Lưu
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="text-muted font-italic">Mật khẩu mặc định : <span class="font-weight-bold">123</span></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Họ tên</label>
                                        <input type="text" class="form-control" id="username"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" id="email"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" id="phone"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Quyền</label>
                                        <div class="select2-purple">
                                            <select class="select2 form-control" multiple="multiple" id="roles">
                                                <option th:each="role : ${roles}" th:value="${role.roleId}"
                                                        th:text="${role.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>

    <script th:inline="javascript">
        const roles = [[${roles}]];
        console.log(roles);

        //Initialize Select2 Elements
        $(".select2").select2({
            placeholder: "Chọn role",
        });

        // Truy cập vào các thành phần
        const userName = document.getElementById("username");
        const userEmail = document.getElementById("email");
        const userPhone = document.getElementById("phone");
        const userRoles = $("#roles");
        const btnCreate = document.getElementById("btn-create")

        // Tạo khóa học
        btnCreate.addEventListener("click", async () => {
            const data = {
                username: userName.value,
                email: userEmail.value,
                phone: userPhone.value,
                roleIds: userRoles.val().map(e => Number(e))
            }

            try {
                let res = await axios.post("/api/v1/admin/users", data)

                if (res.data) {
                    toastr.success("Tạo user thành công");
                    setTimeout(() => {
                        window.location.href = `/admin/users/${res.data.userId}/detail`
                    }, 1500)
                }
            } catch (e) {
                toastr.error(e.response.data.message);
                console.log(e);
            }
        })
    </script>
</th:block>

</body>

</html>