@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

img {
    max-width: 100%;
}

a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    width: 200px;
}

#main-menu .navbar-nav a.active {
    color: #ff6901 !important;
}

.movie-item .movie-poster {
    height: 250px;
}

.movie-item .movie-poster img {
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.movie-item img:hover {
    transform: scale(1.1);
}

#movie-poster {
    height: 400px;
    object-fit: cover;
}

.rating-avatar {
    flex: 0 0 70px;
}

.rating-avatar img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.review-product-rating-item.active, .rating-icon {
    color: #EDBB0E;
}

.review-product-rating-item.unactive {
    color: #939ca3;
}

.rating-time {
    color: #939ca3;
    font-size: 14px;
}

/*Movie item*/
#screen {
    background-color: #181616;
}

#film-poster {
    flex: 0 0 200px;
    width: 200px;
    height: 250px;
    border-radius: 6px;
    overflow: hidden;
}

#film-poster img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

#film-info {
    flex: 1 1 auto;
}

.star-icon {
    color: #f5c518;
}

.actor-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    margin: auto auto 10px;
}

.actor-name {
    text-align: center;
}

.bg-section {
    background-color: #181616 !important;
}

.bg-gray {
    background-color: #424040 !important;
}

.review-item .avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
}

/*Search phim*/
.form-filter .filter-item {
    float: left;
    color: #959595;
    font-size: 12px;
    margin: 0 5px 0 0;
}

.form-filter .filter-item .form-control {
    width: 140px;
    margin: 0 5px 0 0;
    padding: 3px;
    font-size: 12px;
    height: 28px;
    background: #383838;
    box-shadow: none;
    border: none;
    color: #fafafa;
    outline: none;
    border-radius: 0;
}

.form-filter .btn {
    padding: 5.5px 8px;
    font-size: 12px;
    font-weight: bold;
    background: #666;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0;
}

.pagination ul li {
    margin: 3px;
    display: inline-block;
}

.pagination ul li a {
    color: #fff;
    border: 1px solid #4c4c4c;
    background: #3a3a3a;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 13px;
}

.pagination ul li a.current {
    border-color: #ff6901;
    color: #ff9601;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.nav-tabs .nav-link {
    color: #fff;
    font-weight: 600;
}

/* blog detail */
.blog-detail ul {
    list-style-type: disc !important;
}

.blog-detail h2{
    overflow-wrap: break-word;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: 2rem
}

.blog-detail h3{
    overflow-wrap: break-word;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2rem
}

.blog-detail img{
    display: block;
    margin: auto;
    width: 50%;
}

/*owl-carousel*/

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0;
}

.owl-theme .owl-nav {
    margin-top: 0;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #5110e9;
}


.owl-carousel .item {
    text-align: center;
}

.owl-carousel .nav-button {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 110px !important;

    display: flex !important;
    align-items: center;
    justify-content: center;
}

.owl-theme .owl-nav .nav-button span {
    display: inline-block;
    font-size: 24px;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-carousel .owl-prev {
    left: -35px;
}

.owl-carousel .owl-next {
    right: -35px;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #ffffff;
    font-size: 39px;
    background: #000000;
    border-radius: 3px;
}

.owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
}

/*utils class*/
.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 1.5em; /* Điều chỉnh dựa trên kích thước font và yêu cầu layout */
    max-height: 3em; /* 1.2em (line-height) * 2 (số dòng) */
}

.rating-item.active {
    color: #EDBB0E;
}