<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{components/header :: header}"></th:block>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5 mb-4">
        <h3>Danh Sách Người Dùng</h3>
        <a th:href="@{/admin/users/showNewUserForm}" class="btn btn-primary">Thêm Người Dùng Mới</a>
    </div>

    <form th:action="@{/admin/users}" method="get" class="mb-4">
        <div class="input-group mb-3">
            <input type="search" class="form-control" name="keyword" th:value="${keyword}"
                   placeholder="Tìm kiếm người dùng">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Tìm kiếm</button>
            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Vai trò</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a th:href="@{'/admin/users/edit/' + ${user.id}}" class="btn btn-success">Sửa</a>
                <a th:href="@{'/admin/users/delete/' + ${user.id}}" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/admin/users(page=${currentPage - 1}, size=${size})}">Trước</a>
            </li>
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${pageNum == currentPage} ? 'active' : ''">
                <a class="page-link" th:text="${pageNum}" th:href="@{/admin/users(page=${pageNum}, size=${size})}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/admin/users(page=${currentPage + 1}, size=${size})}">Sau</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
