<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #js})}">


<head>
    <title>Danh mục nhà cung cấp</title>
</head>

<body>
<!-- BODY -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh mục nhà cung cấp
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/admin/suppliers/create" class="btn btn-primary" id="btn-open-modal">
                        <i class="fas fa-plus"></i> Tạo nhà cung cấp
                    </a>
                    <a href="/admin/suppliers" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Thumbnail</th>
                                    <th>Tên nhà cung cấp</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center mt-3" id="pagination">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:inline="javascript">
        let suppliers = [[${suppliers}]];
        console.log(suppliers);

        // Render Supplier
        const tableContent = document.querySelector("table tbody")
        const renderSuppliers = (supplierList) => {
            tableContent.innerHTML = "";
            let html = "";
            supplierList.forEach(supplier => {
                html += `
                    <tr>
                        <td>
                            <img src="${supplier.thumbnail}" alt="" width="50px" height="50px" class="border rounded-circle" style="object-fit: cover">
                        </td>
                        <td>
                            <a href="/admin/suppliers/${supplier.supplierId}/detail">${supplier.name}</a>
                        </td>
                        <td>${supplier.phone}</td>
                        <td>${supplier.email}</td>
                        <td>${supplier.address}</td>
                    </tr>
                `
            })
            tableContent.innerHTML = html;
        }

        // render pagination using pagination.js
        const renderPagination = () => {
            $('#pagination').pagination({
                dataSource: suppliers,
                className: 'paginationjs-theme-blue paginationjs-big',
                callback: function (data, pagination) {
                    renderSuppliers(data);
                },
                hideOnlyOnePage: true
            })
        }

        renderPagination();
    </script>
</th:block>
</body>

</html>