<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{components/header :: header}"></th:block>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="text-center mb-4 mt-5">Cập Nhật Sản Phẩm</h2>
            <div class="bg-light p-4 rounded">
                <form th:action="@{/admin/products/updateProduct}" th:object="${product}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label>Tên:</label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Nhập tên sản phẩm">
                        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="form-group">
                        <label>Giá:</label>
                        <input type="number" th:field="*{price}" class="form-control" placeholder="Nhập giá">
                        <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                    </div>
                    <button type="submit" class="btn btn-success">Cập Nhật</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
