* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(236, 240, 245);
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.table {
    margin-bottom: 0;
}

.table>:not(:last-child)>:last-child>* {
    border: 1px solid #f0f0f0;
}

table, tr, th, td {
    border: 1px solid #f0f0f0;
}

.btn-custom {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}

/*Style header*/
/* Header style */
.header {
    height: 60px;
    background-color: #30598c;
}

.logo img {
    width: 120px;
}

/* course list */
.course-list-inner,
.job-list-inner{
    background-color: #fff;
    border: 1px solid rgb(60, 141, 188);
    font-size: 16px;
    border-radius: 3px;
}

.btn-create-course,
.btn-update-course{
    background-color: rgb(60, 141, 188);
    border-color: rgb(54, 127, 169);
}

.btn-refresh {
    background-color: rgb(0, 192, 239);
    border-color: rgb(0, 172, 214);
}

.course-table img {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

/* course detail */
.course-logo-preview {
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
}

#course-logo,
.course-logo-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: inset 0 0 0 transparent;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0 rgba(220,53,69,.25);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    padding-right: 2.25rem !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: block;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}