<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .course-list}, ~{:: #js})}">

<head>
    <title th:text="${course.name}">Chi tiết khóa học</title>

    <th:block id="css">

    </th:block>
</head>

<body>
<!-- BODY -->
<div class="course-list mt-4 mb-4">
    <div class="container">
        <div class="mb-4 d-flex justify-content-between">
            <div>
                <button class="btn-custom btn-update-course" id="btn-update-course">
                    <span><i class="fa-solid fa-plus"></i></span>
                    Cập nhật
                </button>
                <a href="/admin/courses" class="btn-custom btn-refresh">
                    <span><i class="fa-solid fa-angle-left"></i></span>
                    Quay lại
                </a>
            </div>
            <div>
                <button class="btn-custom btn-delete-course bg-danger" id="btn-delete-course">
                    <span><i class="fa-solid fa-trash-can"></i></span>
                    Xóa
                </button>
            </div>
        </div>

        <div class="course-list-inner p-2">
            <form id="form-update-course">
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-3 form-group">
                            <label for="course-name" class="form-label fw-bold">Tên khóa học</label>
                            <input type="text" class="form-control" id="course-name" th:value="${course.name}"
                                   name="name">
                        </div>
                        <div class="mb-3 form-group">
                            <label for="course-description" class="form-label fw-bold">Mô tả</label>
                            <textarea class="form-control" id="course-description" rows="10"
                                      th:text="${course.description}"
                                      name="description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3 form-group">
                            <label for="course-type" class="form-label fw-bold">Hình thức học</label>
                            <select class="form-control" id="course-type" name="type">
                                <option></option>
                                <option value="online" th:selected="${course.type == 'online'}">Online</option>
                                <option value="onlab" th:selected="${course.type == 'onlab'}">Onlab</option>
                            </select>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="course-topic" class="form-label fw-bold">Chủ đề</label>
                            <select class="form-control" id="course-topic" multiple="multiple">
                                <option></option>
                                <option th:each="topic : ${topicList}"
                                        th:value="${topic}"
                                        th:text="${topic}"
                                        th:selected="${#lists.contains(course.topics, topic)}">Backend
                                </option>
                            </select>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="course-supporter" class="form-label fw-bold">Tư vấn viên</label>
                            <select class="form-control" id="course-supporter" name="supporter">
                                <option></option>
                                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.name}"
                                        th:selected="${course.userId == user.id}">Bùi Hiên
                                </option>
                            </select>
                        </div>

                        <div class="mb-3 form-group">
                            <label class="form-label fw-bold">Thumbnail</label>
                            <div class="course-logo-preview mb-3 rounded">
                                <img id="course-logo-preview" class="rounded" th:src="${course.thumbnail == null ? 'https://via.placeholder.com/200' : course.thumbnail}"
                                     th:alt="${course.name}"/>
                            </div>

                            <label for="course-logo-input" class="btn btn-warning">Đổi ảnh
                                <input type="file" id="course-logo-input" class="d-none">
                            </label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<th:block id="js">
    <script th:inline="javascript">
        const course = [[${course}]];
        console.log(course);

        // Kích hoạt select2
        $("#course-type").select2({
            placeholder: "Chọn hình thức học",
        });
        $("#course-topic").select2({
            placeholder: "Chọn chủ đề",
        });
        $("#course-supporter").select2({
            placeholder: "Chọn tư vấn viên",
        });

        // Upload thumbnail
        const courseThumbnailPreviewEl = document.getElementById("course-logo-preview");
        const courseThumbnailInputEl = document.getElementById("course-logo-input");
        courseThumbnailInputEl.addEventListener("change", async (e) => {
            // b1 : lấy ra file cần upload
            const file = e.target.files[0];
            console.log(file);

            // b2 : tạo đối tượng formdata
            const formData = new FormData();
            formData.append("file", file);

            // b3 : gọi api
            try {
                const res = await axios.post("/api/v1/files", formData);
                if (res.status === 200) {
                    courseThumbnailPreviewEl.src = res.data;
                    toastr.success("Upload ảnh thành công");
                }
            } catch (e) {
                console.log(e)
            }
        });

        // Validate dữ liệu
        $('#form-update-course').validate({
            rules: {
                name: {
                    required: true
                },
                description: {
                    required: true,
                    minlength: 10
                },
                type: {
                    required: true
                },
                supporter: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "Tên user không được để trống"
                },
                description: {
                    required: "Mô tả không được để trống",
                    minlength: "Mô tả phải có ít nhất 10 ký tự"
                },
                type: {
                    required: "Hình thức học không được để trống"
                },
                supporter: {
                    required: "Tư vấn viên không được để trống"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        // Cập nhật thông tin khóa học
        const courseName = document.getElementById("course-name");
        const courseDescription = document.getElementById("course-description");
        const courseType = document.getElementById("course-type");
        const courseSupporter = document.getElementById("course-supporter");
        const btnUpdate = document.getElementById("btn-update-course");
        btnUpdate.addEventListener("click", async () => {
            if (!$("#form-update-course").valid()) return;
            try {
                let res = await axios.put(`/api/v1/admin/courses/${course.id}`, {
                    name: courseName.value,
                    description: courseDescription.value,
                    type: courseType.value,
                    topics: $("#course-topic").val(),
                    userId: Number(courseSupporter.value),
                    thumbnail: courseThumbnailPreviewEl.src === "https://via.placeholder.com/200" ? null : courseThumbnailPreviewEl.src
                })

                if (res.status === 200) {
                    toastr.success("Cập nhật khóa học thành công");
                } else {
                    toastr.error("Cập nhật khóa học thất bại");
                }
            } catch (e) {
                console.log(e);
                toastr.error(e.response.data.message);
            }
        })

        // Xóa khóa học
        const btnDelete = document.getElementById("btn-delete-course");
        btnDelete.addEventListener("click", async () => {
            let isConfirm = confirm("Bạn có muốn xóa không?");
            if (!isConfirm) return;
            try {
                let res = await axios.delete(`/api/v1/admin/courses/${course.id}`);

                if (res.status === 204) {
                    toastr.success("Xóa khóa học thành công");
                    setTimeout(() => {
                        window.location.href = `/admin/courses`
                    }, 1000)
                } else {
                    toastr.error("Xóa khóa học thất bại");
                }
            } catch (e) {
                console.log(e);
                toastr.error(e.response.data.message);
            }
        })

    </script>
</th:block>
</body>

</html>