<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!--Lấy giá trị của biến-->
<h2>Lấy giá trị của một biến sử dụng ${}</h2>
<p th:text="${user.id}">Id : </p>
<p th:text="${user.name}">Name : </p>
<p th:text="${user.email}">Email : </p>

<!--Vòng lặp-->
<h2>Vòng lặp sử dụng th:each</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.name}">Nguyễn Văn A</td>
        <td th:text="${user.email}">a@gmail.com</td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th>index</th>
        <th>count</th>
        <th>even</th>
        <th>odd</th>
        <th>first</th>
        <th>last</th>
        <th>size</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, state: ${users}" th:class="${state.odd} ? 'bg-blue' : ''">
        <td th:text="${state.index}"></td>
        <td th:text="${state.count}"></td>
        <td th:text="${state.even}"></td>
        <td th:text="${state.odd}"></td>
        <td th:text="${state.first}"></td>
        <td th:text="${state.last}"></td>
        <td th:text="${state.size}"></td>
    </tr>
    </tbody>
</table>

<!--Câu lệnh if-->
<h2>Câu lệnh điều kiện sử dụng th:if, th:unless, th:switch</h2>
<p th:if="${age} < 18">Chưa đủ tuổi vị thành niên (if)</p>

<!--Câu lệnh unless-->
<p th:unless="${age} >= 18">Chưa đủ tuổi vị thành niên (unless)</p>

<!--Toán tử 3 ngôi-->
<p th:text="${age} < 18 ? 'Chưa đủ tuổi vị thành niên' : 'Đủ tuổi vị thành niên'"></p>

<!--Câu lệnh switch-case-->
<th:block th:switch="${day}">
    <p th:case="1">Thứ 2</p>
    <p th:case="2">Thứ 3</p>
    <p th:case="3">Thứ 4</p>
    <p th:case="4">Thứ 5</p>
    <p th:case="5">Thứ 6</p>
    <p th:case="6">Thứ 7</p>
    <p th:case="0">Chủ nhật</p>
    <p th:case="*">Ngày không hợp lệ</p>
</th:block>

<script th:src="@{/js/main.js}"></script>
</body>
</html>