<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tạo khuyến mại</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/daterangepicker/daterangepicker.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/style.css}">
    </th:block>

</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/discount-campaigns">Khuyến mại</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Tạo khuyến mại
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/discount-campaigns" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-create">
                        Lưu
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tên khuyến mại</label>
                                        <input type="text" class="form-control" id="name"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <textarea class="form-control" id="description" rows="5"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Hình thức giảm</label>
                                        <select id="type" class="form-control">
                                            <option th:each="type : ${typeList}" th:value="${type}"
                                                    th:text="${type.getValue()}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Giá trị giảm</label>
                                        <input type="text" class="form-control" id="value"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select id="status" class="form-control">
                                            <option th:each="status : ${statusList}" th:value="${status}"
                                                    th:text="${status.getValue()}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Thời gian áp dụng</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control float-right" id="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:inline="javascript">
        $('#date').daterangepicker()

        // handle create discount campaign when click button using vanilla javascript and axios
        const btnCreate = document.getElementById('btn-create')
        btnCreate.addEventListener('click', () => {
            const name = document.getElementById('name').value
            const description = document.getElementById('description').value
            const type = document.getElementById('type').value
            const value = document.getElementById('value').value
            const status = document.getElementById('status').value
            const date = document.getElementById('date').value

            // get date from daterangepicker
            const dateArr = date.split(' - ')
            const startDate = dateArr[0]
            const endDate = dateArr[1]

            const data = {
                name: name,
                description: description,
                discountType: type,
                discountValue: value,
                status: status,
                startDate: new Date(startDate),
                endDate: new Date(endDate)
            }
            console.log(data)

            axios.post('/api/v1/admin/discount-campaigns', data)
                .then(res => {
                    if (res.status === 200) {
                        toastr.success('Tạo khuyến mại thành công')
                        setTimeout(() => {
                            window.location.href = `/admin/discount-campaigns/${res.data.campaignId}/detail`
                        }, 1500)
                    } else {
                        toastr.error('Tạo khuyến mại thất bại')
                    }
                })
                .catch(err => {
                    console.log(err)
                    toastr.error(err.response.data.message)
                })
        })


    </script>
</th:block>

</body>

</html>