<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, css, content, js)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <title th:replace="${title}">Title</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/toastr.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!--CSS tự viết-->
    <th:block th:replace="${css} ?: ~{}"></th:block>
</head>
<body>
<!--Header-->
<th:block th:replace="~{web/fragments/header :: header(${categories}, ${cart}, ${wishList})}"></th:block>

<!--Content-->
<th:block th:replace="${content} ?: ~{}"></th:block>

<!--Footer-->
<th:block th:replace="~{web/fragments/footer :: footer}"></th:block>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/additional-methods.min.js"></script>
<script src="/js/main.js"></script>

<!--JS tự viết-->
<script th:inline="javascript">
    const currentUser = [[${currentUser}]];
    const isLogin = [[${isLogin}]];
    let cart = [[${cart}]];
    let wishList = [[${wishList}]];
    console.log({cart, wishList, currentUser, isLogin});
</script>
<th:block th:replace="${js} ?: ~{}"></th:block>
<script src="/js/utils.js"></script>
</body>
</html>