<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tất cả banner</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách banner
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/admin/banners/create" type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Tạo banner
                    </a>
                    <a href="/admin/banners/sort" type="button" class="btn btn-warning">
                        <i class="fas fa-exchange-alt"></i> Sắp xếp vị trí các banner đang kích hoạt
                    </a>
                    <a href="/admin/banners" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Tên banner</th>
                                    <th>Trạng thái</th>
                                    <th>Redirect to URL</th>
                                    <th>Ngày tạo</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center mt-3" id="pagination">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:inline="javascript">
        const banners = [[${banners}]];
        console.log({banners})
    </script>
    <script th:src="@{/admin-assets/assets/js/banner/index.js}"></script>
</th:block>
</body>

</html>