<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Chi tiết phiếu nhập hàng</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/daterangepicker/daterangepicker.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet"
              th:href="@{/admin-assets/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-assets/admin-lte/dist/css/style.css}">
    </th:block>

</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/transactions">Nhập hàng</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Chi tiết phiếu nhập hàng
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/transactions" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="form-update-transaction">
                                        <div class="form-group">
                                            <label>Tên người gửi</label>
                                            <input type="text" class="form-control" id="sender-name"
                                                   th:value="${transaction.senderName}" name="senderName"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Tên người nhận</label>
                                            <input type="text" class="form-control" id="receiver-name"
                                                   th:value="${transaction.receiverName}" name="receiverName"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Nhà cung cấp</label>
                                            <select class="form-control select2bs4" style="width: 100%;" id="supplier"
                                                    name="supplier">
                                                <option></option>
                                                <option th:each="supplier : ${suppliers}"
                                                        th:value="${supplier.supplierId}"
                                                        th:selected="${supplier.supplierId == transaction.supplier.supplierId}"
                                                        th:text="${supplier.name}"
                                                ></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Thời gian</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                                </div>
                                                <input type="text" class="form-control float-right" id="date"
                                                       th:value="${#dates.format(transaction.transactionDate, 'DD/MM/yyyy')}"
                                                       name="date">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted">Tổng số sản phẩm : <span id="total-product">0</span></p>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Giá nhập</th>
                                            <th>Thành tiền</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="product-selected">

                                        </tbody>
                                    </table>
                                    <div>
                                        <button class="btn btn-primary" onclick="openModalCreateProduct()">Thêm sản phẩm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-product">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-product">
                        <div class="form-group">
                            <label>Chọn sản phẩm</label>
                            <select class="form-control select2bs4" style="width: 100%;" id="product" name="product">
                                <option></option>
                                <option th:each="product : ${products}"
                                        th:value="${product.productId}"
                                        th:text="${product.name}"
                                ></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Số lượng nhập</label>
                            <input type="text" class="form-control" id="quantity" name="quantity"/>
                        </div>
                        <div class="form-group">
                            <label>Giá nhập</label>
                            <input type="text" class="form-control" id="purchase-price" name="purchasePrice"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btn-handle">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">
    <script th:src="@{/admin-assets/admin-lte/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/admin-assets/admin-lte/plugins/select2/js/select2.full.min.js}"></script>
    <script th:inline="javascript">
        const transaction = [[${transaction}]];
        console.log(transaction);
    </script>
    <script th:src="@{/admin-assets/assets/js/transaction/detail.js}"></script>
</th:block>

</body>

</html>