<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="customer-sidebar" th:fragment="customer-sidebar">
    <ul class="customer-sidebar-menu">
        <li class="menu-item">
            <a href="/khach-hang/tai-khoan"><span><i class="fa fa-user"
                                                     aria-hidden="true"></i></span> Tài khoản</a>
        </li>
        <li class="menu-item">
            <a href="/khach-hang/quan-ly-don-hang"><span><i class="fa fa-file-o"
                                                            aria-hidden="true"></i></span> Quản lý
                đơn hàng</a>
        </li>
        <li class="menu-item">
            <a href="/khach-hang/quan-ly-dia-chi"><span><i class="fa fa-map-marker"
                                                           aria-hidden="true"></i></span> Sổ địa
                chỉ</a>
        </li>
        <li class="menu-item">
            <a href="/khach-hang/lich-su-giao-dich"><span><i class="fa fa-ship"
                                                             aria-hidden="true"></i></span> Lịch sử
                giao dịch</a>
        </li>
        <li class="menu-item">
            <a href="/khach-hang/san-pham-da-mua"><span><i class="fa fa-paper-plane"
                                                           aria-hidden="true"></i></span> Sản phẩm
                đã
                mua</a>
        </li>
        <li class="menu-item">
            <a href="/dang-xuat"><span><i class="fa fa-sign-out" aria-hidden="true"></i></span> Đăng
                xuất</a>
        </li>
    </ul>
</div>
</body>
</html>