<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                APPLICATION
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="main-menu">
                <div th:if="not ${isLogined}">
                    <a href="/dang-nhap">Đăng nhập</a>
                </div>
                <div th:if="${isLogined}" class="d-flex align-items-center">
                    <p class="mb-0 me-2"><th:block th:text="${userName}"></th:block></p>
                    <a href="javascript:void(0)" onclick="logout()">Đăng xuất</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>