<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Chi tiết sản phẩm</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/products">Product</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${product.name}">
                            Sữa chua trân châu
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/products" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
                                       href="#product-info" role="tab"
                                       aria-controls="custom-content-below-home" aria-selected="true">Thông tin sản
                                        phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill"
                                       href="#product-image" role="tab"
                                       aria-controls="custom-content-below-profile" aria-selected="false">Ảnh mô tả</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill"
                                       href="#product-attribute" role="tab"
                                       aria-controls="custom-content-below-messages" aria-selected="false">Thuộc
                                        tính</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="custom-content-below-tabContent">
                                <div class="tab-pane fade active show" id="product-info" role="tabpanel"
                                     aria-labelledby="custom-content-below-home-tab">
                                    <div class="row mt-4">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Tên sản phẩm</label>
                                                <input type="text" class="form-control" id="name" th:value="${product.name}"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Mô tả ngắn</label>
                                                <textarea id="description" class="form-control" rows="8"
                                                          th:text="${product.description}"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Giá sản phẩm</label>
                                                <input type="text" class="form-control" id="price" th:value="${product.price}"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <select id="status" class="form-control">
                                                    <option th:each="status : ${statusList}" th:value="${status}"
                                                            th:checked="${product.status == status}"
                                                            th:text="${status.getDisplayValue()}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Danh mục cha</label>
                                                <select id="parent-category" class="form-control">
                                                    <option hidden="hidden">Chọn danh mục cha</option>
                                                    <option th:each="category : ${categoryList}"
                                                            th:value="${category.getMainCategory().categoryId}"
                                                            th:text="${category.getMainCategory().name}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Danh mục con</label>
                                                <select id="sub-category" class="form-control">
                                                    <option hidden="hidden">Chọn danh mục con</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-image" role="tabpanel"
                                     aria-labelledby="custom-content-below-profile-tab">
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <label>Ảnh đại diện</label>
                                            <div class="d-flex align-items-center">
                                                <div class="product-image-item product-main-image-item mr-4">
                                                    <img th:src="${product.images.mainImage.imageUrl}" alt="Ảnh đại diện"
                                                         class="img-fluid">
                                                </div>
                                                <div class="product-image-item">
                                                    <label for="input-upload-main-image">
                                                        <span>Đổi ảnh đại diện</span>
                                                        <img src="/img/image-placeholder.png" alt="Ảnh upload"
                                                             class="img-fluid">
                                                    </label>
                                                    <input type="file" class="d-none" id="input-upload-main-image">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <label>Ảnh mô tả</label>
                                            <div class="d-flex align-items-center">
                                                <div class="product-image-item product-sub-image-item mr-4" th:each="image : ${product.images.subImages}">
                                                    <img th:src="${image.imageUrl}" alt="Ảnh mô tả"
                                                         class="img-fluid">
                                                </div>
                                                <div class="product-image-item">
                                                    <label for="input-upload-sub-image">
                                                        <span>Thêm ảnh mô tả</span>
                                                        <img src="/img/image-placeholder.png" alt="Ảnh upload"
                                                             class="img-fluid">
                                                    </label>
                                                    <input type="file" class="d-none" id="input-upload-sub-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-attribute" role="tabpanel"
                                     aria-labelledby="custom-content-below-messages-tab">
                                    <div class="row mt-4" id="product-attribute-list">
                                        <div class="col-6" th:each="attribute : ${product.attributes}" th:data-attribute-id="${attribute.attributeId}">
                                            <div class="product-attribute-item mb-3">
                                                <div class="d-flex align-items-center mb-2">
                                                    <label th:text="${attribute.attributeName}" class="mb-0"></label>
                                                    <div class="ml-2">
                                                        <span class="btn-action btn-action-edit" th:onclick="|openModalUpdateAttribute(${attribute.attributeId})|"><i class="fas fa-pencil-alt"></i></span>
                                                        <span class="btn-action btn-action-delete" th:onclick="|deleteAttribute(${attribute.attributeId})|"><i class="fas fa-trash-alt"></i></span>
                                                    </div>
                                                </div>
                                                <textarea th:text="${attribute.attributeValue}" class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-info" id="btn-open-modal-create-attribute">Thêm thuộc tính</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Tag -->
    <div class="modal fade" id="modal-attribute" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modal-attribute-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="modal-attribute-title">Thêm thuộc tính</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="input-attribute-name" placeholder="Enter attribute name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btn-handle-attribute">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">

    <script th:inline="javascript">
        const product = [[${product}]];
        const statusList = [[${statusList}]];
        const categoryList = [[${categoryList}]];

        console.log({product, statusList, categoryList});

        // --------- Product Info ---------
        // render sub category
        const renderSubCategory = (parentId) => {
            const subCategoryList = categoryList.find(category => category.mainCategory.categoryId == parentId).subCategories;
            subCategory.innerHTML = ""
            let html = '<option hidden="hidden">Chọn danh mục con</option>';
            subCategoryList.forEach(subCategory => {
                html += `<option value="${subCategory.categoryId}">${subCategory.name}</option>`
            });
            subCategory.innerHTML = html;
        }

        // triger value parent category, sub category
        const parentCategory = document.getElementById('parent-category');
        const subCategory = document.getElementById('sub-category');
        parentCategory.value = product.category.parentCategoryId;
        renderSubCategory(product.category.parentCategoryId);
        subCategory.value = product.category.categoryId;

        // format price
        const price = document.getElementById('price');
        price.value = product.price.toString().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        // Handle event change parent category and load sub category using vanilla js
        parentCategory.addEventListener('change', function (event) {
            const categoryId = event.target.value;
            renderSubCategory(Number(categoryId));
        });

        // format price when user input
        price.addEventListener('keyup', function (event) {
            const value = event.target.value;
            event.target.value = value.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        });

        // convert price to number when user submit
        const formatPrice = (price) => {
            return parseInt(price.replace(/,/g, ""));
        }

        // --------- Product Attribute ---------
        let attributeId = null;
        const btnOpenModalCreateAttribute = document.getElementById('btn-open-modal-create-attribute');
        btnOpenModalCreateAttribute.addEventListener('click', function () {
            const modalTitle = document.getElementById('modal-attribute-title');
            const inputAttributeName = document.getElementById('input-attribute-name');
            modalTitle.innerText = "Thêm thuộc tính";
            inputAttributeName.value = "";
            $('#modal-attribute').modal('show');
        });

        function openModalUpdateAttribute(id) {
            // find attribute by id
            console.log("product :", product);
            const attribute = product.attributes.find(attribute => attribute.attributeId == id);
            console.log(attribute)

            const modalTitle = document.getElementById('modal-attribute-title');
            const inputAttributeName = document.getElementById('input-attribute-name');
            modalTitle.innerText = "Cập nhật thuộc tính";
            inputAttributeName.value = attribute.attributeName;
            $('#modal-attribute').modal('show');
            attributeId = id;
        }

        $('#modal-attribute').on('hidden.bs.modal', function (event) {
            attributeId = null;
            const inputAttributeName = document.getElementById('input-attribute-name');
            inputAttributeName.value = "";
        })

        // Handle create attribute send request to server
        const createAttribute = () => {
            const attributeName = document.getElementById('input-attribute-name').value;
            const attribute = {
                attributeName
            }

            axios.post(`/api/v1/admin/products/${product.productId}/attributes`, attribute)
                .then(response => {
                    console.log(response);
                    if (response.status === 200) {
                        toastr.success("Thêm thuộc tính thành công");

                        // add attribute to UI
                        const productAttributeList = document.getElementById('product-attribute-list');
                        productAttributeList.insertAdjacentHTML("beforeend", `
                            <div class="col-6" data-attribute-id="${response.data.attributeId}">
                                <div class="product-attribute-item mb-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <label class="mb-0">${response.data.attributeName}</label>
                                        <div class="ml-2">
                                            <span class="btn-action btn-action-edit" onclick="openModalUpdateAttribute(${response.data.attributeId})"><i class="fas fa-pencil-alt"></i></span>
                                            <span class="btn-action btn-action-delete" onclick="deleteAttribute(${response.data.attributeId})"><i class="fas fa-trash-alt"></i></span>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5">${response.data.attributeValue}</textarea>
                                </div>
                            </div>
                        `)

                        // add attribute to product
                        product.attributes.push(response.data);

                        $("#modal-attribute").modal('hide')
                    }
                })
                .catch(error => {
                    console.log(error);
                    toastr.error(error.response.data.message);
                })
        }

        const updateAttribute = (attributeId) => {
            const attributeName = document.getElementById('input-attribute-name').value;
            const attribute = {
                attributeName
            }
            console.log(attribute);

            axios.put(`/api/v1/admin/products/${product.productId}/attributes/${attributeId}`, attribute)
                .then(response => {
                    console.log(response);
                    if (response.status === 200) {
                        toastr.success("Cập nhật thuộc tính thành công");

                        // find attribute item on UI using data-attribute-id
                        const productAttributeList = document.getElementById('product-attribute-list');
                        const attributeItem = productAttributeList.querySelector(`[data-attribute-id="${attributeId}"]`);
                        attributeItem.querySelector('label').innerText = response.data.attributeName;

                        // update attribute in product
                        const attribute = product.attributes.find(attribute => attribute.attributeId == attributeId);
                        attribute.attributeName = response.data.attributeName;
                        console.log(product)

                        $("#modal-attribute").modal('hide')
                    }
                })
                .catch(error => {
                    console.log(error);
                    toastr.error(error.response.data.message);
                })
        }

        const btnHandleAttribute = document.getElementById('btn-handle-attribute');
        btnHandleAttribute.addEventListener('click', function () {
            if (attributeId) {
                updateAttribute(attributeId);
            } else {
                createAttribute();
            }
        });

        // handle delete attribute
        function deleteAttribute(id) {
            const isDelete = confirm("Bạn có chắc chắn muốn xóa thuộc tính này?");
            if (isDelete) {
                axios.delete(`/api/v1/admin/products/${product.productId}/attributes/${id}`)
                    .then(response => {
                        console.log(response);
                        if (response.status === 200) {
                            toastr.success("Xóa thuộc tính thành công");

                            // delete attribute on UI using data-attribute-id
                            const productAttributeList = document.getElementById('product-attribute-list');
                            const attributeItem = productAttributeList.querySelector(`[data-attribute-id="${id}"]`);
                            attributeItem.parentNode.removeChild(attributeItem);

                            // delete attribute in product
                            const attributeIndex = product.attributes.findIndex(attribute => attribute.attributeId == id);
                            product.attributes.splice(attributeIndex, 1);
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        toastr.error(error.response.data.message);
                    })
            }
        }

        // --------- Product Image ---------
    </script>
</th:block>

</body>

</html>