<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tất cả sản phẩm</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách sản phẩm
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/admin/products/create" type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Tạo sản phẩm
                    </a>
                    <a href="/admin/products" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover datatables-table">
                                <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                    <th>Trạng thái</th>
                                    <th>Danh mục</th>
                                    <th>Nhà cung cấp</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${products}">
                                    <td>
                                        <a th:href="@{/admin/products/{id}/detail(id=${product.productId})}"
                                           th:text="${product.name}"></a>
                                    </td>
                                    <td th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></td>
                                    <td th:text="${product.stockQuantity}"></td>
                                    <td>
                                        <span th:if="${product.status.toString() == 'AVAILABLE'}" class="badge badge-success">Còn hàng</span>
                                        <span th:if="${product.status.toString() == 'UNAVAILABLE'}" class="badge badge-danger">Hết hàng</span>
                                        <span th:if="${product.status.toString() == 'CEASE'}" class="badge badge-warning">Ngừng kinh doanh</span>
                                        <span th:if="${product.status.toString() == 'NOT_YET_SOLD'}" class="badge badge-secondary">Chưa mở bán</span>

                                    </td>
                                    <td th:text="${product.category.name}"></td>
                                    <td>
                                        <a th:href="@{/admin/suppliers/{id}/detail(id=${product.supplier.supplierId})}"
                                           th:text="${product.supplier.name}"></a>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">

</th:block>
</body>
</html>