<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tất cả sản phẩm</title>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách sản phẩm
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/admin/products/create" type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Tạo sản phẩm
                    </a>
                    <a href="/admin/products" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                    <th>Trạng thái</th>
                                    <th>Danh mục</th>
                                    <th>Nhà cung cấp</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center mt-3" id="pagination">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:inline="javascript">
        const products = [[${products}]];
        console.log({products})

        // render products from products to body of table
        const tableBody = document.querySelector('table tbody');
        const renderProducts = (productList) => {
            let html = '';
            productList.forEach(product => {
                html += `
                    <tr>
                        <td>
                            <a href="/admin/products/${product.productId}/detail">${product.name}</a>
                        </td>
                        <td>
                            ${formatCurrency(product.price)}
                        </td>
                        <td>${product.stockQuantity}</td>
                        <td>${productStatus(product.status)}</td>
                        <td>${product.category.name}</td>
                         <td>
                            <a href="/admin/suppliers/${product.supplier.supplierId}/detail">${product.supplier.name}</a>
                        </td>
                    </tr>
                `;
            })
            tableBody.innerHTML = html;
        }

        // render pagination using pagination.js
        const renderPagination = (productList) => {
            $('#pagination').pagination({
                dataSource: productList,
                className: 'paginationjs-theme-blue paginationjs-big',
                callback: function (data, pagination) {
                    renderProducts(data);
                },
                hideOnlyOnePage : true
            })
        }

        const productStatus = status => {
            switch (status) {
                case 'AVAILABLE':
                    return '<span class="badge badge-success">Còn hàng</span></>';
                case 'UNAVAILABLE':
                    return '<span class="badge badge-danger">Hết hàng</span>';
                case 'CEASE':
                    return '<span class="badge badge-warning">Ngừng kinh doanh</span>';
                case 'NOT_YET_SOLD':
                    return '<span class="badge badge-secondary">Chưa mở bán</span>';
                default:
                    return 'Không xác định';
            }
        }

        renderPagination(products);
    </script>
</th:block>
</body>

</html>