<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link py-0 d-flex align-items-center" data-toggle="dropdown" href="#">
                    <div class="user-panel">
                        <div class="d-flex align-items-center image">
                            <span th:text="${#authentication.principal.getName()}"></span>
                            <img th:src="${#authentication.principal.getAvatar()}"
                                 class="img-circle border ml-1" alt="User Image">
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <a href="/khach-hang/tai-khoan" class="dropdown-item">
                        <span class="text-muted">Trang cá nhân</span>
                    </a>
                    <a href="/" class="dropdown-item">
                        <span class="text-muted">Quay lại trang chủ</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item" onclick="logout()">
                        <span class="text-muted">Đăng xuất</span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/admin/dashboard" class="brand-link text-center">
            <span class="brand-text font-weight-light text-uppercase">OGANI Admin</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false" id="main-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Dashboard
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/dashboard" class="nav-link pl-5">
                                    <p>Dashboard</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Báo cáo
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/reports" class="nav-link pl-5">
                                    <p>Báo cáo thu chi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/payment_vouchers" class="nav-link pl-5">
                                    <p>Danh sách phiếu chi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/payment_vouchers/create" class="nav-link pl-5">
                                    <p>Tạo phiếu chi</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Bài viết
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/blogs" class="nav-link pl-5">
                                    <p>Tất cả bài viết</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/blogs/own-blogs" class="nav-link pl-5">
                                    <p>Bài viết của tôi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/blogs/create" class="nav-link pl-5">
                                    <p>Tạo bài viết</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/tags" class="nav-link pl-5">
                                    <p>Quản lý tag</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tree"></i>
                            <p>
                                Quản lý user
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/users" class="nav-link pl-5">
                                    <p>Danh sách user</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/users/create" class="nav-link pl-5">
                                    <p>Tạo user</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-award"></i>
                            <p>
                                Sản phẩm
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/products" class="nav-link pl-5">
                                    <p>Danh sách sản phẩm</p>
                                </a>
                                <a href="/admin/products/create" class="nav-link pl-5">
                                    <p>Tạo sản phẩm</p>
                                </a>
                                <a href="/admin/categories" class="nav-link pl-5">
                                    <p>Danh mục sản phẩm</p>
                                </a>
<!--                                <a href="/admin/products/inventory" class="nav-link pl-5">-->
<!--                                    <p>Tồn kho</p>-->
<!--                                </a>-->
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-paper-plane"></i>
                            <p>
                                Nhà cung cấp
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/suppliers" class="nav-link pl-5">
                                    <p>Danh sách nhà cung cấp</p>
                                </a>
                                <a href="/admin/suppliers/create" class="nav-link pl-5">
                                    <p>Tạo nhà cung cấp</p>
                                </a>
                                <a href="/admin/transactions" class="nav-link pl-5">
                                    <p>Danh sách nhập hàng</p>
                                </a>
                                <a href="/admin/transactions/create" class="nav-link pl-5">
                                    <p>Tạo phiếu nhập</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-folder-open"></i>
                            <p>
                                Đơn hàng
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/orders" class="nav-link pl-5">
                                    <p>Danh sách đơn hàng</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/orders/create" class="nav-link pl-5">
                                    <p>Tạo đơn hàng</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-recycle"></i>
                            <p>
                                Khuyến mại
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/discount-campaigns" class="nav-link pl-5">
                                    <p>Danh sách khuyến mại</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/discount-campaigns/create" class="nav-link pl-5">
                                    <p>Tạo khuyến mại</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/coupons" class="nav-link pl-5">
                                    <p>Danh sách coupon</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tools"></i>
                            <p>
                                Cấu hình
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/banners" class="nav-link pl-5">
                                    <p>Banner trang chủ</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/banners/create" class="nav-link pl-5">
                                    <p>Tạo banner</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</th:block>
</body>
</html>