<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">

<head>
    <title>Checkout</title>
</head>

<body>
<th:block id="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" style="background-image: url(/img/breadcrumb.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a href="/">Trang chủ</a>
                            <span>Thanh toán</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Thông tin giao hàng</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form id="form-checkout">
                            <div class="checkout__input form-group">
                                <input class="form-control"
                                       type="text" th:value="${isLogin ? currentUser.username : ''}"
                                       placeholder="Họ tên"
                                       id="username" name="name">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input form-group">
                                        <input class="form-control" type="text"
                                               th:value="${isLogin ? currentUser.phone : ''}"
                                               placeholder="Số điện thoại" id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input form-group">
                                        <input class="form-control" type="text"
                                               th:value="${isLogin ? currentUser.email : ''}"
                                               placeholder="Email" id="email" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input form-group">
                                <select id="province" name="province" class="form-control"></select>
                            </div>
                            <div class="checkout__input form-group">
                                <select id="district" name="district" class="form-control"></select>
                            </div>
                            <div class="checkout__input form-group">
                                <select id="ward" name="ward" class="form-control"></select>
                            </div>
                            <div class="checkout__input form-group">
                                <input type="text" class="form-control" placeholder="Địa chỉ giao hàng" id="address"
                                       name="address">
                            </div>
                            <div class="checkout__input form-group">
                                <input type="text" class="form-control" placeholder="Ghi chú đơn hàng..." id="note"
                                       name="note">
                            </div>
                            <div class="checkout__input">
                                <h4>Phương thức vận chuyển</h4>
                                <div id="shipping-method">
                                    <div class="d-flex align-items-center">
                                        <input type="radio" id="delivery" class="mr-1" value="STANDARD" checked
                                               name="shipping-method">
                                        <label for="delivery" class="mb-0">Giao hàng tận nơi</label>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <h4>Phương thức thanh toán</h4>
                                <div id="payment-method">
                                    <div class="d-flex align-items-center">
                                        <input type="radio" id="payment-upon-delivery" class="mr-1" value="COD" checked
                                               name="payment-method">
                                        <label for="payment-upon-delivery" class="mb-0">Thanh toán khi giao hàng
                                            (COD)</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="checkout__input">
                            <h4>Mã giảm giá</h4>
                            <div class="d-flex align-items-center">
                                <input type="text" placeholder="Nhập mã giảm giá (nếu có)" id="coupon-input">
                                <button class="site-btn btn-apply-coupon">ÁP DỤNG</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout__order">
                            <h4>Thông tin đơn hàng</h4>
                            <div class="checkout__order__products">Sản phẩm <span>Tổng</span></div>
                            <ul>
                                <li th:each="cartItem : ${cart.cartItems}">
                                    <th:block th:text="|${cartItem.product.name} x ${cartItem.quantity}|">Vegetable’s
                                        Package
                                    </th:block>
                                    <span class="currency"
                                          th:text="${cartItem.product.discountPrice != null ? cartItem.product.discountPrice * cartItem.quantity : cartItem.product.price * cartItem.quantity}">$75.99</span>
                                </li>
                            </ul>
                            <div class="checkout__order__subtotal">Thành tiền <span
                                    class="temporary-amount">$750.99</span></div>
                            <div class="checkout__order__discount">Giảm giá <span class="discount-amount">$750.99</span>
                            </div>
                            <div class="checkout__order__total">Tổng tiền <span class="total-amount">$750.99</span>
                            </div>
                            <button class="site-btn" id="btn-submit-order">XÁC NHẬN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
</th:block>

<th:block id="js">
    <script src="/js/web/checkout.js"></script>
</th:block>
</body>

</html>