<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">

<head>
    <title>Checkout</title>
</head>

<body>
<th:block id="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a href="/">Trang chủ</a>
                            <span>Thanh toán</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Thông tin đơn hàng</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="checkout__input">
                                <p>Họ tên người nhận<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Số điện thoại<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Địa chỉ email</p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>Tỉnh/Thành phố<span>*</span></p>
                                        <select id="province"></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>Quận/Huyện<span>*</span></p>
                                        <select id="district"></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>Xã/Phường<span>*</span></p>
                                        <select id="ward"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Địa chỉ nhận hàng<span>*</span></p>
                                <input type="text" class="checkout__input__add">
                            </div>
                            <div class="checkout__input">
                                <p>Ghi chú đơn hàng</p>
                                <input type="text" placeholder="Nhập ghi chú ...">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Thông tin đơn hàng</h4>
                                <div class="checkout__order__products">Sản phẩm <span>Tổng</span></div>
                                <ul>
                                    <li>Vegetable’s Package <span>$75.99</span></li>
                                    <li>Fresh Vegetable <span>$151.99</span></li>
                                    <li>Organic Bananas <span>$53.99</span></li>
                                </ul>
                                <div class="checkout__order__subtotal">Thành tiền <span>$750.99</span></div>
                                <div class="checkout__order__total">Tổng tiền <span>$750.99</span></div>
                                <button type="submit" class="site-btn">XÁC NHẬN</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        // Lấy danh sách province https://provinces.open-api.vn/api/p/
        // Hiển thị danh sách province vào select id="province"
        const provinceSelect = document.getElementById('province');
        const districtSelect = document.getElementById('district');
        const wardSelect = document.getElementById('ward');

        const renderProvince = (provinces) => {
            provinceSelect.innerHTML = '';
            provinces.forEach(province => {
                const option = document.createElement('option');
                option.value = province.code;
                option.innerText = province.name;
                provinceSelect.appendChild(option);
            });
        }

        const renderDistrict = (districts) => {
            districtSelect.innerHTML = '';
            districts.forEach(district => {
                const option = document.createElement('option');
                option.value = district.code;
                option.innerText = district.name;
                districtSelect.appendChild(option);
            });
        }

        const renderWard = (wards) => {
            wardSelect.innerHTML = '';
            wards.forEach(ward => {
                const option = document.createElement('option');
                option.value = ward.code;
                option.innerText = ward.name;
                wardSelect.appendChild(option);
            });
        }

        const getProvinces = async () => {
            const response = await axios.get('https://provinces.open-api.vn/api/p/');
            const provinces = response.data;
            console.log(provinces);
            renderProvince(provinces);
        }

        provinceSelect.addEventListener('change', (event) => {
            const provinceCode = event.target.value;
            getDistricts(provinceCode);
        });

        const getDistricts = async (provinceCode) => {
            const response = await axios.get(`https://provinces.open-api.vn/api/p/${provinceCode}?depth=2`);
            const districts = response.data;
            renderDistrict(districts.districts);
        }

        districtSelect.addEventListener('change', (event) => {
            const districtCode = event.target.value;
            getWards(districtCode);
        });

        const getWards = async (districtCode) => {
            const response = await fetch(`https://provinces.open-api.vn/api/d/${districtCode}?depth=2`);
            const wards = await response.json();
            renderWard(wards.wards);
        }

        getProvinces();
    </script>
</th:block>
</body>

</html>