<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">

<head>
    <title>Quên mật khẩu</title>
</head>

<body>
<th:block id="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" style="background-image: url(/img/breadcrumb.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a href="/">Trang chủ</a>
                            <span>Quên mật khẩu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="reset-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                    <div class="reset-container">
                        <div id="custom-reset-form">
                            <form id="customer-reset-form">
                                <div class="reset-form-container">
                                    <div class="reset-text">
                                        <h2 class="mb-2">Quên mật khẩu</h2>
                                        <p>Vui lòng điền thông tin vào form bên dưới.</p>
                                    </div>
                                    <div class="reset-form">
                                        <div class="reset-form-input form-group">
                                            <input type="email" id="email" class="input-full form-control" placeholder="Email"
                                                   autocomplete="off" name="email">
                                        </div>

                                        <div class="reset-toggle-btn">
                                            <div class="form-action-button">
                                                <button type="submit" class="btn-sign-in">Xác nhận</button>
                                                <a href="/dang-nhap" id="customer_register_link">Quay lại đăng nhập</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        // validate form
        $('#customer-reset-form').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                email: {
                    required: "Email không được để trống",
                    email: "Email không đúng định dạng"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        // handle reset form submit using axios using valina javascript
        const resetForm = document.getElementById('customer-reset');
        resetForm.addEventListener('submit', function (e) {
            e.preventDefault();

            if (!$('#customer-reset-form').valid()) {
                return;
            }

            const email = document.getElementById('email').value;
            const data = {
                email: email
            };
            axios.post('/api/v1/auth/reset-password', data)
                .then(function (response) {
                    console.log(response);
                    toastr.success('Vui lòng kiểm tra email để lấy lại mật khẩu');
                })
                .catch(function (error) {
                    console.log(error);
                    toastr.error('Email không tồn tại');
                });
        });

    </script>
</th:block>
</body>

</html>