<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">

<head>
    <title>Trang chủ</title>
</head>

<body>
<th:block id="content">
    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container" th:each="dataItem : ${data}" th:if="${dataItem.totalElements > 0}" th:data-name="${dataItem.name}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mt-5">
                        <h2 th:text="${dataItem.name}">Sản phẩm giảm giá</h2>
                    </div>
                </div>
            </div>
            <div class="row product-list">
                <div class="col-lg-3 col-md-6 col-sm-6" th:each="product : ${dataItem.products}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:style="|background-image: url(${product.images.mainImage.imageUrl})|">
                            <ul class="product__item__pic__hover">
                                <li><a href="javascript:void(0)" th:onclick="|addToWishList(${product.productId})|"><i class="fa fa-heart"></i></a></li>
                                <li><a href="javascript:void(0)" th:onclick="|addToCart(${product.productId}, 1)|"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a th:href="@{/san-pham/{id} (id=${product.productId})}" th:text="${product.name}">Sản phẩm 1</a></h6>
                            <div th:classappend="${product.discounts != null} ? 'product-item-price' : ''">
                                <h5 th:if="${product.discounts != null}" th:text="${product.discounts.remainingPrice}" class="discount-price"></h5>
                                <h5 th:text="${product.price}" th:classappend="${product.discounts != null ? 'original-price' : ''}">$100</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row load-more-row" th:if="${dataItem.remain > 0}">
                <div class="col-lg-12 text-center">
                    <div class="loadmore__btn">
                        <button class="border-0 primary-btn" th:attr="onclick=|loadMoreProduct('${dataItem.slug}')|">Xem thêm <span th:text="${dataItem.remain}" class="remain-count">${totalProductsRemain}</span> sản phẩm
                            <span th:text="${dataItem.name}">${name}</span> <span class="loadmore-icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        const data = [[${data}]];
        console.log(data);

        // load more product by category parent slug
        function loadMoreProduct(categorySlug) {
            // get info in data
            const dataItem = data.find(d => d.slug === categorySlug);

            // call api
            axios.get(`/api/v1/products/load-more?categorySlug=${categorySlug}&page=${dataItem.currentPage + 1}`).then(res => {
                console.log(res);
                if(res.status === 200) {
                    // update data
                    dataItem.products = [...dataItem.products, ...res.data.products];
                    dataItem.totalElements = res.data.totalElements;
                    dataItem.remain = res.data.remain;
                    dataItem.currentPage = res.data.currentPage;

                    const categoryContainer = document.querySelector(`[data-name="${dataItem.name}"]`);
                    const loadMoreRow = categoryContainer.querySelector(`.load-more-row`);
                    const loadMoreBtn = loadMoreRow.querySelector(`.loadmore__btn button`);
                    // if remain = 0 then remove load more button
                    if(dataItem.remain === 0) {
                        loadMoreRow.parentNode.removeChild(loadMoreRow);
                    } else {
                        // update remain product in load more button
                        loadMoreBtn.querySelector(`.remain-count`).innerText = dataItem.remain;
                    }
                    renderLoadMore(categorySlug);
                }
            }).catch(err => {
                console.log(err);
            })
        }

        const renderLoadMore = (categorySlug) => {
            const dataItem = data.find(d => d.slug === categorySlug);
            let html = '';
            dataItem.products.forEach(product => {
                html += `
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" style="background-image: url(${product.images.mainImage.imageUrl})">
                                <ul class="product__item__pic__hover">
                                    <li><a href="javascript:void(0)" onclick="addToWishList(${product.productId})"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="javascript:void(0)" onclick="addToCart(${product.productId}, 1)"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="/san-pham/${product.productId}">${product.name}</a></h6>
                                <div class="${product.discounts != null ? 'product-item-price' : ''}">
                                    ${
                                        product.discounts != null ?
                                            `<h5 class="discount-price">${product.discounts.remainingPrice}</h5>
                                            <h5 class="original-price">${product.price}</h5>`
                                            :
                                            `<h5>${product.price}</h5>`
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                `
            })
            const productContainer = document.querySelector(`[data-name="${dataItem.name}"] .product-list`);
            productContainer.innerHTML = html;
        }
    </script>
</th:block>
</body>

</html>