<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">

<head>
    <title>Trang chủ</title>
</head>

<body>
<th:block id="content">
    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">

    </section>
    <!-- Featured Section End -->
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        const COUNT_PRODUCT_EACH_RENDERED = 8;
        const products = [[${products}]];
        console.log(products);
        let cart = [[${cart}]];
        const wishList = [[${wishList}]];
        const productsDiscount = [[${productsDiscount}]];
        console.log(productsDiscount);

        // covert products to array of object. Each of object with info keys : category parent name, category parent slug, list product
        const productsByCategory = products.reduce((acc, product) => {
            const id = product.category.parentCategoryId;
            const name = product.category.parentCategoryName;
            const slug = product.category.parentCategorySlug;
            const rendered = COUNT_PRODUCT_EACH_RENDERED;

            const categoryParentInfo = acc.find(item => item.name === name);
            if (categoryParentInfo) {
                categoryParentInfo.products.push(product);
            } else {
                acc.push({
                    id,
                    name,
                    slug,
                    rendered,
                    products: [product]
                })
            }
            return acc;
        }, []);
        console.log(productsByCategory)

        // render products by category parent name and slug to html
        const render = () => {
            const html = productsByCategory.map(categoryParent => {
                const {name, rendered, products} = categoryParent;
                const productsRendered = rendered > products.length
                    ? products.slice(0, products.length)
                    : products.slice(0, rendered);
                const totalProductsRemain = products.length - rendered;
                const isShowButton = totalProductsRemain > 0;
                return `
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title mt-5">
                                    <h2>${name}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            ${productsRendered.map(product => {
                                return `
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" style="background-image: url(${product.images.mainImage.imageUrl})">
                                                <ul class="product__item__pic__hover">
                                                    <li><a href="javascript:void(0)" onclick="addToWishList(${product.productId})"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="javascript:void(0)" onclick="addToCart(${product.productId})"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="/san-pham/${product.productId}">${product.name}</a></h6>
                                                <h5>${product.price}</h5>
                                            </div>
                                        </div>
                                    </div>
                                `
                            }).join('')}
                        </div>
                        ${isShowButton ? `
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="loadmore__btn">
                                        <button class="border-0 primary-btn" onclick="loadMoreProduct('${name}')">Xem thêm <span>${totalProductsRemain}</span> sản phẩm
                                            <span>${name}</span> <span class="loadmore-icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span></button>
                                    </div>
                                </div>
                            </div>
                        ` : ``}
                    </div>
                `
            }).join('');
            document.querySelector('.featured.spad').innerHTML = html;
        }

        // load more product by category parent name
        const loadMoreProduct = (name) => {
            // find category parent info by name
            const categoryParentInfo = productsByCategory.find(item => item.name === name);

            // increase rendered product
            categoryParentInfo.rendered += COUNT_PRODUCT_EACH_RENDERED;

            // render products by category parent name
            render();
        }

        // add product to cart
        const shoppingCartIcon = document.querySelector('.shopping-cart-icon span');
        const addToCart = (productId) => {
            axios.post('/api/v1/cart/add', {
                productId: productId,
                quantity: 1
            }).then(res => {
                console.log(res);
                if(res.status === 200) {
                    // check if product in cart or not
                    const cartItem = cart.cartItems.find(ct => ct.product.productId === productId);
                    if(!cartItem) {
                        cart = res.data;
                        shoppingCartIcon.innerText = cart.cartItems.length;
                    }
                    toastr.success("Thêm vào giỏ hàng thành công");
                } else {
                    toastr.error("Thêm vào giỏ hàng thất bại");
                }
            }).catch(err => {
                console.log(err);
            })
        }

        // add product to wish list
        const wishlistIcon = document.querySelector('.wishlist-icon span');
        const addToWishList = (productId) => {
            axios.post('/api/v1/wishlist', {
                productId
            }).then(res => {
                console.log(res);
                if(res.status === 200) {
                    // check if product in wishlist or not
                    const wishListItem = wishList.find(wl => wl.product.productId === productId);
                    if(!wishListItem) {
                        wishlistIcon.innerText = wishList.length + 1;
                    }
                    toastr.success("Thêm vào danh sách yêu thích thành công");
                } else {
                    toastr.error("Thêm vào danh sách yêu thích thất bại");
                }
            }).catch(err => {
                console.log(err);
                toastr.error(err.response.data.message)
            })
        }
        render();
    </script>
</th:block>
</body>

</html>