<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">

<head>
    <title th:text="${product.name}">Product Detail</title>
</head>

<body>
<th:block id="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" style="background-image: url(/img/breadcrumb.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a href="/">Trang chủ</a>
                            <a th:href="@{/danh-muc/{name} (name=${product.category.name})}"
                               th:text="${product.category.name}">Vegetables</a>
                            <span th:text="${product.name}">Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 th:src="${product.images.mainImage.imageUrl}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <th:block th:if="not ${#lists.isEmpty(product.images.subImages)}">
                                <img th:each="image : ${product.images.subImages}" th:data-imgbigurl="${image.imageUrl}"
                                     th:src="${image.imageUrl}" alt="">
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 th:text="${product.name}">Vetgetable’s Package</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price" th:classappend="${product.discounts != null} ? 'has-discount' : ''">
                            <span th:if="${product.discounts != null}" th:classappend="${product.discounts != null} ? 'discount-price' : ''" th:text="${product.discounts.getRemainingPrice()}"></span>
                            <span th:classappend="${product.discounts != null} ? 'original-price' : ''" th:text="${product.price}"></span>
                        </div>
                        <p th:text="${product.description}">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            Vestibulum ac diam sit amet quam
                            vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                            quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span class="dec qtybtn">-</span>
                                    <input type="text" value="1" readonly>
                                    <span class="inc qtybtn">+</span>
                                </div>
                            </div>
                        </div>
                        <button class="border-0 primary-btn btn-add-to-card">THÊM VÀO GIỎ HÀNG</button>
                        <button class="border-0 heart-icon btn-add-to-wishlist"><span class="icon_heart_alt"></span></button>
                        <ul>
                            <li><b>Tình trạng</b> <span th:if="${product.stockQuantity == 0 ? 'Hết hàng' : 'Còn hàng'}">Còn hàng</span>
                            </li>
                            <li th:if="${product.stockQuantity > 0}"><b>Số lượng</b> <span
                                    th:text="${product.stockQuantity}">1</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                   aria-selected="false">Đánh giá <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Thông tin sản phẩm</h6>

                                    <p th:each="attribute : ${product.getAttributes()}">
                                        <span th:text="${attribute.attributeName}"></span>:
                                        <span th:text="${attribute.attributeValue}"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Đánh giá sản phẩm</h6>
                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                        Pellentesque in ipsum id orci porta dapibus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Sản phẩm liên quan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" th:each="rProduct : ${relatedProducts}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:style="|background-image: url(${rProduct.images.mainImage.imageUrl})|">
                            <ul class="product__item__pic__hover">
                                <li><a href="javascript:void(0)" th:onclick="|addToWishList(${rProduct.productId})|"><i class="fa fa-heart"></i></a></li>
                                <li><a href="javascript:void(0)" th:onclick="|addToCart(${rProduct.productId}, 1)|"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a th:href="@{/san-pham/{id} (id=${rProduct.productId})}" th:text="${rProduct.name}">Sản phẩm 1</a></h6>
                            <div th:classappend="${rProduct.discounts != null} ? 'product-item-price' : ''">
                                <h5 th:if="${rProduct.discounts != null}" th:text="${rProduct.discounts.remainingPrice}" class="discount-price"></h5>
                                <h5 th:text="${rProduct.price}" th:classappend="${rProduct.discounts != null ? 'original-price' : ''}">$100</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        const product = [[${product}]];
        console.log(product);

        /*---------------------------------
            Product Details Pic Slider
        ----------------------------------*/
        $(".product__details__pic__slider").owlCarousel({
            margin: 20,
            items: 4,
            dots: true,
            smartSpeed: 1200,
            autoHeight: false,
            autoplay: true,
            center: true,
            loop: true,
        });

        /*------------------
            Single Product
        --------------------*/
        $('.product__details__pic__slider img').on('click', function () {
            var imgurl = $(this).data('imgbigurl');
            var bigImg = $('.product__details__pic__item--large').attr('src');
            if (imgurl != bigImg) {
                $('.product__details__pic__item--large').attr({
                    src: imgurl
                });
            }
        });

        /*-------------------
            Quantity change
        --------------------- */
        let quantity = 1;
        const quantityInput = document.querySelector('.pro-qty input');
        const quantityBtns = document.querySelectorAll('.pro-qty .qtybtn');
        quantityBtns.forEach(btn => {
            btn.addEventListener("click", () => {
                if(quantity >= product.stockQuantity) {
                    alert("Số lượng sản phẩm không đủ");
                    return;
                }
                if (btn.classList.contains("inc")) {
                    quantity++;
                } else if (btn.classList.contains("dec") && quantity > 1) {
                    quantity--;
                }
                quantityInput.value = quantity;
            })
        })

        /*-------------------
            Add to cart
        --------------------- */
        const btnAddToCart = document.querySelector('.btn-add-to-card');
        // Send request to server
        btnAddToCart.addEventListener('click', () => {
            addToCart(product.productId, quantity);
        })

        /*-------------------
            Add to wishlist
        --------------------- */
        const btnAddToWishlist = document.querySelector('.btn-add-to-wishlist');
        // Send request to server
        btnAddToWishlist.addEventListener("click", () => {
            addToWishList(product.productId);
        })
    </script>
</th:block>
</body>

</html>