<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">
<head>
    <title>Shopping Cart</title>
</head>

<body>
<th:block id="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" style="background-image: url(/img/breadcrumb.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option">
                            <a href="/">Trang chủ</a>
                            <span>Giỏ hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row shoping-cart-products">
                <th:block th:if="${#lists.isEmpty(cart.cartItems)}">
                    <div class="d-flex flex-column">
                        <h4 class="mb-3">Không có sản phẩm nào trong giỏ hàng</h4>

                        <div class="shoping__cart__btns">
                            <a href="/" class="primary-btn cart-btn" style="background: #7fad39; color: #fff;">Tiếp tục mua hàng</a>
                        </div>
                    </div>

                </th:block>
                <th:block th:if="not ${#lists.isEmpty(cart.cartItems)}">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <table>
                                <thead>
                                <tr>
                                    <th class="shoping__product">Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cartItem : ${cart.cartItems}">
                                    <td class="shoping__cart__item">
                                        <img th:src="${cartItem.product.images.mainImage.imageUrl}" alt="">
                                        <h5>
                                            <a class="text-muted"
                                               th:href="@{/san-pham/{id} (id=${cartItem.product.productId})}"
                                               th:text="${cartItem.product.name}">Vegetable’s Package</a>
                                        </h5>
                                    </td>
                                    <td class="shoping__cart__price"
                                        th:classappend="${cartItem.product.discounts != null} ? 'has-discount' : ''">
                                    <span th:if="${cartItem.product.discounts != null}"
                                          class="currency"
                                          th:classappend="${cartItem.product.discounts != null} ? 'discount-price' : ''"
                                          th:text="${cartItem.product.discounts.getRemainingPrice()}"></span>
                                        <span class="currency"
                                              th:classappend="${cartItem.product.discounts != null} ? 'original-price' : ''"
                                              th:text="${cartItem.product.price}"></span>
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                            <span class="dec qtybtn"
                                                  th:onclick="|decrementQuantity(${cartItem.cartItemId})|">-</span>
                                                <input type="text" th:value="${cartItem.quantity}" readonly>
                                                <span class="inc qtybtn"
                                                      th:onclick="|incrementQuantity(${cartItem.cartItemId})|">+</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total currency"
                                        th:text="${cartItem.product.discounts != null ? cartItem.product.discounts.getRemainingPrice() * cartItem.quantity : cartItem.product.price * cartItem.quantity}">
                                        $110.00
                                    </td>
                                    <td class="shoping__cart__item__close">
                                    <span class="icon_close"
                                          th:onclick="|deleteCartItem(${cartItem.cartItemId})|"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </th:block>

            </div>
            <div class="row shoping-cart-info" th:if="not ${#lists.isEmpty(cart.cartItems)}">
                <div class="col-lg-6">
                    <div class="shoping__cart__btns">
                        <a href="/" class="primary-btn cart-btn">Tiếp tục mua hàng</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Tổng tiền giỏ hàng</h5>
                        <ul>
                            <li>Thành tiền <span class="temporary-amount"></span></li>
                            <li>Tổng tiền <span class="total-amount"></span></li>
                        </ul>
                        <a href="/thanh-toan" class="primary-btn">THANH TOÁN</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        // write function to render cart from cart object
        const tableBody = document.querySelector('.shoping__cart__table tbody');
        const renderCart = (cartItems) => {
            tableBody.innerHTML = '';
            let html = '';
            cartItems.forEach(ct => {
                html += `
                    <tr>
                        <td class="shoping__cart__item">
                            <img src="${ct.product.images.mainImage.imageUrl}" alt="">
                            <h5>
                                <a href="/san-pham/${ct.product.productId}">${ct.product.name}</a>
                            </h5>
                        </td>
                        <td class="shoping__cart__price ${ct.product.discounts != null ? 'has-discount' : ''}">
                            ${
                                ct.product.discounts != null ?
                                    `<span class="discount-price">${formatCurrency(ct.product.discounts.remainingPrice)}</span>
                                    <span class="original-price">${formatCurrency(ct.product.price)}</span>`
                                    :
                                    `<span class="original-price">${formatCurrency(ct.product.price)}</span>`
                            }
                        </td>
                        <td class="shoping__cart__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <span class="dec qtybtn" onclick="decrementQuantity(${ct.cartItemId})">-</span>
                                    <input type="text" value="${ct.quantity}" readonly="">
                                    <span class="inc qtybtn" onclick="incrementQuantity(${ct.cartItemId})">+</span>
                                </div>
                            </div>
                        </td>
                        <td class="shoping__cart__total">${ct.product.discounts != null ? formatCurrency(ct.product.discounts.remainingPrice * ct.quantity) : formatCurrency(ct.product.price * ct.quantity)}</td>
                        <td class="shoping__cart__item__close">
                            <span class="icon_close" onclick="deleteCartItem(${ct.cartItemId})"></span>
                        </td>
                    </tr>
                `
            })
            tableBody.innerHTML = html;

            displayTotalPrice(cartItems);
        }

        // Tính thành tiền, tổng tiền
        const displayTotalPrice = (cartItems) => {
            const temporaryAmount = document.querySelector('.temporary-amount');
            const totalAmount = document.querySelector('.total-amount');

            let temporaryAmountValue = 0;
            let totalAmountValue = 0;

            cartItems.forEach(ct => {
                if (ct.product.discounts != null) {
                    temporaryAmountValue += ct.product.discounts.remainingPrice * ct.quantity;
                } else {
                    temporaryAmountValue += ct.product.price * ct.quantity;
                }
            })

            totalAmountValue = temporaryAmountValue;

            // display to UI
            temporaryAmount.innerText = formatCurrency(temporaryAmountValue);
            totalAmount.innerText = formatCurrency(totalAmountValue);
        }

        // Increment quantity
        const incrementQuantity = (cartItemId) => {
            const cartItem = cart.cartItems.find(ct => ct.cartItemId === cartItemId);

            // check if quantity is greater than quantity in stock
            if (cartItem.quantity >= cartItem.product.stockQuantity) {
                toastr.error('Số lượng sản phẩm trong kho không đủ!');
                return;
            }

            // call api to update cart item using axios
            axios.put(`/api/v1/cart-items/${cartItemId}`, {
                quantity: 1
            })
                .then(res => {
                    if (res.status === 200) {
                        // update cart in UI
                        cartItem.quantity++;
                        renderCart(cart.cartItems);
                    } else {
                        toastr.error('Cập nhật số lượng thất bại!')
                    }
                })
                .catch(err => {
                    console.log(err);
                    toastr.error(err.response.data.message);
                })
        }

        // Decrement quantity
        const decrementQuantity = (cartItemId) => {
            // check if quantity is less than 1
            const cartItem = cart.cartItems.find(ct => ct.cartItemId === cartItemId);
            if (cartItem.quantity <= 1) {
                return;
            }

            // call api to update cart item using axios
            axios.put(`/api/v1/cart-items/${cartItemId}`, {
                quantity: -1
            })
                .then(res => {
                    if (res.status === 200) {
                        // update cart in UI
                        if (cartItem.quantity > 1) {
                            cartItem.quantity--;
                            renderCart(cart.cartItems);
                        }
                    } else {
                        toastr.error('Cập nhật số lượng thất bại!')
                    }
                })
                .catch(err => {
                    console.log(err);
                })
        }

        // delete cart item
        const deleteCartItem = (cartItemId) => {
            const isConfirm = confirm('Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng?');
            if (!isConfirm) {
                return;
            }

            // call api to delete cart item using axios
            axios.delete(`/api/v1/cart-items/${cartItemId}`)
                .then(res => {
                    console.log(res);
                    if (res.status === 200) {
                        // update cart in UI
                        const cartItem = cart.cartItems.find(ct => ct.cartItemId === cartItemId);
                        const index = cart.cartItems.indexOf(cartItem);
                        cart.cartItems.splice(index, 1);
                        renderCart(cart.cartItems);

                        // update cart icon
                        shoppingCartIcon.innerText = cart.cartItems.length;

                        // show toastr
                        toastr.success('Xóa sản phẩm khỏi giỏ hàng thành công!')

                        // check if cart is empty to display message
                        if (cart.cartItems.length === 0) {
                            const html = `
                                <div class="d-flex flex-column">
                                    <h4 class="mb-3">Không có sản phẩm nào trong giỏ hàng</h4>
                                    <div class="shoping__cart__btns">
                                        <a href="/" class="primary-btn cart-btn" style="background: #7fad39; color: #fff;">Tiếp tục mua hàng</a>
                                    </div>
                                </div>
                            `
                            const shopingCartProducts = document.querySelector('.shoping-cart-products');
                            shopingCartProducts.innerHTML = html;

                            // hide shoping-cart-info
                            const shopingCartInfo = document.querySelector('.shoping-cart-info');
                            shopingCartInfo.parentElement.removeChild(shopingCartInfo);
                        }
                    } else {
                        toastr.error('Xóa sản phẩm khỏi giỏ hàng thất bại!')
                    }
                })
                .catch(err => {
                    console.log(err);
                })
        }

        // call display total price function if cart is not empty
        if (cart.cartItems.length > 0) {
            displayTotalPrice(cart.cartItems);
        }
    </script>
</th:block>
</body>

</html>